@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
    /** Font Family **/
    --ff-inter: 'Inter', sans-serif;

    /** Colors **/
    /* Primary */
    --clr-soft-orange: hsl(35, 78%, 62%);
    --clr-soft-red: hsl(5, 85%, 63%);
    /* Neutral */
    --clr-off-white: hsl(36, 100%, 99%);
    --clr-grayish-blue: hsl(236, 8%, 79%);
    --clr-dark-grayish-blue: hsl(237, 13%, 42%);
    --clr-very-dark-blue: hsl(240, 100%, 5%);

    /** Font Sizes **/
    --fs-heading-xl: 3.5rem;
    --fs-heading-lg: 2.5rem;
    --fs-heading-md: 2rem;
    --fs-heading-sm: 1.25rem;
    --fs-heading-xs: 1.125rem;
    --fs-body: .9375rem;

    /** Line Heights **/
    --lh-heading-xl: 3.5rem;
    --lh-heading-lg: 2.5rem;
    --lh-heading-md: 2rem;
    --lh-heading-sm: 1.5rem;
    --lh-heading-xs: 1.5rem;
    --lh-body: 1.625rem;
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    position: relative;
    overflow-x: hidden;
}

body {
    font-family: var(--ff-inter);
    background-color: var(--clr-off-white);
    font-size: var(--fs-body);
    min-height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

.container {
    width: min(calc(100% - 2rem), 69.375rem);
    margin: 0 auto;
}

.btn {
    padding: .75rem 2.0625rem;
    background-color: var(--clr-soft-red);
    color: var(--clr-off-white);
    font-size: .875rem;
    line-height: 1.5rem;
    letter-spacing: 4.38px;
    text-transform: uppercase;
    font-weight: 700;
}

.navbar__container {
    padding: 1.75rem 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 1110px) {
    .navbar__container {
        padding: 5.5625rem 0 3.4438rem;
    } 
}

.navbar__brand {
    width: 44.98px;
    height: 28px;
}

@media (min-width: 1110px) {
    .navbar__brand {
        width: 64.09px;
        height: 39.9px;
    }
}

@media (min-width: 1110px) {
    .navbar__btn-open {
        display: none;
    }
}

.nav-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 25, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility .4s ease-in-out, opacity .4s ease-in-out;
    z-index: 10;
    transition-delay: .4s;
}

@media (min-width: 1110px) {
    .nav-container {
        position: static;
        width: auto;
        height: auto;
        background-color: transparent;
        visibility: visible;
        opacity: 1;
        transition: none;
        z-index: initial;
    }
}

.nav-container--show {
    transition-delay: 0s;
    visibility: visible;
    opacity: 1;
}

.nav {
    position: absolute;
    top: 0;
    right: -100%;
    width: 68.27%;
    height: 100%;
    background-color: var(--clr-off-white);
    transition: right .4s ease-in-out;
    padding: 9rem 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

@media (min-width: 1110px) {
    .nav {
        position: static;
        flex-direction: row;
        padding: 0;
        column-gap: 2.5rem;
        background-color: transparent;
        transition: none;
        width: auto;
        height: auto;
    }
}

.nav-container--show .nav {
    right: 0;
    transition-delay: .4s;
}

.nav__btn-close {
    width: 30.41px;
    height: 30.41px;
    position: absolute;
    top: 27.3px;
    right: 20.8px;
}

@media (min-width: 1110px) {
    .nav__btn-close {
        display: none;
    }
}

.nav__link {
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: var(--clr-very-dark-blue);
}

@media (min-width: 1110px) {
    .nav__link {
        font-size: .9375rem;
        line-height: 1.625rem;
        color: var(--clr-dark-grayish-blue);
    }
}

@media (hover: hover) {
    .nav__link {
        transition: color .4s ease-in-out;
    }

    .nav__link:hover {
        color: var(--clr-soft-red);
    }
}

/* Main */
.main__grid {
    display: grid;
    row-gap: 4rem;
}

/* Web 3 */
.web3__img-container {
    display: block;
    width: 100%;
    height: auto;
}

.web3__title {
    margin-top: 1.5rem;
    font-size: var(--fs-heading-lg);
    line-height: var(--lh-heading-lg);
    font-weight: 800;
    color: var(--clr-very-dark-blue);
}

.web3__info {
    margin-top: 1rem;
    font-size: var(--fs-body);
    line-height: var(--lh-body);
    color: var(--clr-dark-grayish-blue);
}

.web3__btn {
    margin-top: 1.5rem;
}

/* New */
.new {
    background-color: var(--clr-very-dark-blue);
    color: var(--clr-grayish-blue);
    padding: 1.5rem 1.25rem;
}

.new__title {
    color: var(--clr-soft-orange);
    font-size: var(--fs-heading-md);
    line-height: var(--lh-heading-md);
}

.new__articles {
    margin-top: .25rem;
}

.new__article {
    padding: 1.9375rem 0 1.8125rem;
    border-top: 1px solid var(--clr-dark-grayish-blue);
}

.new__article:first-child {
    border-top: 0;
}

.new__article:last-child {
    padding: 1.9375rem 0 0;
}

.new__article-title {
    font-weight: 800;
    color: var(--clr-off-white);
    font-size: var(--fs-heading-sm);
    line-height: var(--lh-heading-sm);
}

.new__article-text {
    margin-top: .5rem;
    font-size: var(--fs-body);
    line-height: var(--lh-body);
}